/* ===== NAVBAR ===== */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: var(--color-navbar);
    transition: background 0.3s ease, color 0.3s ease;
    padding-bottom: 5px;
}

nav.navbar-about {
    background: var(--color-text-light);
    color: var(--color-text-dark);
}

nav.navbar-about a {
    color: inherit;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

nav .logo-img {
    height: 150px; /* adjust to match text size */
    width: auto;
    display: block;
    object-fit: contain;
    padding-top: 10px
}


.nav-links {
    display: flex;
    gap: 25px;
    margin-left: auto; 
}

.nav-links a {
    color: var(--color-text-light);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid transparent; 
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: var(--color-text-light);
    border: 1px solid  var(--color-4-background);
    background-color:  var(--color-2-background);
}

nav a.current {
    font-weight: bold;
    text-decoration: underline;
    color: var(--color-accents);
}

body.home nav {
    background: transparent;
}

body:not(.home) main {
    padding-top: 90px; /* prevent content hiding under navbar */
}



/* ===== ABOUT PAGE NAVBAR STYLE ===== */
body.about nav {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
}

/* Fix text colour on light background */
body.about nav a {
    color: var(--color-text-dark);
}

body.about nav {
    background: var(--color-navbar-about);
    backdrop-filter: blur(14px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

/* When scrolling into About (homepage) */
nav.nav-scrolled {
    background: var(--color-navbar-about);
    backdrop-filter: blur(12px);
}

nav.nav-scrolled a {
    color: var(--color-text-dark);
}
/* make sure when on about indicated by red navbar */

nav.nav-scrolled a.current {
    color: var(--color-accents);
}
