/* ===== RESULTS PAGE ===== */

body {
    background-color: var(--color-1-background);
}

/* ===== MAIN RESULTS CONTAINER ===== */

#career-highlights {
    max-width: 900px;

    margin: 40px auto;
    margin-top: -10px;
    margin-bottom: -70px;

    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 100px;

    background-color: var(--color-text-light);

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

/* ===== TITLE ===== */

#career-highlights h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

/* ===== YEAR HEADINGS ===== */

#career-highlights h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

/* ===== RESULTS TEXT ===== */

#career-highlights p,
#career-highlights li {
    font-size: 20px;
    line-height: 1.5;
}

/* ===== RESULTS COLORS ===== */

.gold {
    color: var(--secondary-300);
    font-weight: bold;
}

.silver {
    color: var(--secondary-300);
    font-weight: bold;
}

.bronze {
    color: var(--secondary-300);
    font-weight: bold;
}

.low-score {
    color: var(--color-accents);
    font-weight: normal;
}

.highlight {
    color: var(--color-accents);
    font-weight: bold;
}
